body {
    color: black;
    width: 960px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300;
    background-image: url("../images/qbkls.jpg");
    background-repeat: repeat;
}

section, footer, header {
  background-color: #fce1e0; 
  border-radius: 10px;
  border: 5px solid white;
}


header {
    position: static;
    text-align: left;
    text-transform: uppercase;
    font-size: 40px;
    height: 70px;
    margin-bottom: 10px;
    padding: 0 20px 0 20px;
    vertical-align: middle;
    line-height: 70px;
    float: left;
}

nav {
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  float: right;
  text-decoration: none;
  text-transform: uppercase;

}

a:link {
    text-decoration: none;
      }
  
a:visited {
    text-decoration: none;
    color:black;
  }
  
a:hover {
    text-decoration: none;
    color:  #fce1e0; 
    
  }
  
a:active {
    text-decoration: none;
  }

section {
    float: left;
    margin: 10px 0px 20px 0px;
    font-size: 30px;
    text-align: left;
    padding: 20px 20px 20px 20px;
    width: 960px;
}

article {
    font-size: 30px;
    text-align: left;
    padding: 0px 20px 0px 20px;

}


p{
    font-size: 16px;
    width: 920px;
    text-transform: none;
    padding: 0px 20px 0px 20px;
}

#hello{
  font-size: 18px;
}

.item{
  position: relative;
  float: left; 
  margin: 15px 15px 40px 0px;
  border-radius: 10px;
  overflow:hidden;
  width: 250px;
  height: 250px;
  background-size: cover;

}
.item img {
  border-radius: 10px;
}

.item1{
  background-image: url(../images/wordguess.jpg);

}
.item2{
  background-image: url(../images/crystal.png);

}

.item3{
  background-image: url(../images/throne.png);

}

.item4{
  background-image: url(../images/gifparadise.png);
}
.textbox{
  position: absolute;
  background: white ;
  width: 250px; 
  top: 30px;

}


.content {
    min-height: calc(100vh - 70px);

  }
  
footer {
    height: 50px;
    clear: both;
    padding: 10px 0px 10px 0px;   
    text-transform: uppercase;
  
  }

  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 10px;
  }
  
  input[type=submit] {
    background-color: palevioletred;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: pink;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 10px;
    background-color: #f2f2f2;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    margin-top: 6px;
    padding: 20px;
    font-size: 16px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  @media screen and (max-width: 980px) 
  {
    body{
      background-image: url("../images/qbkls.jpg");
    }
  }
  @media screen and (max-width: 768px) 
  {
    
    section, footer,{
      width: 720px
    }
    article, p {
      width: 690px;
      z-index: 6;
    } 
    nav {
      float: left;
    }  
  }
  @media screen and (max-width: 640px) 
  {
    nav {
      clear: both;
      float: left;
    }  
    section, footer {
      width: 578px;
      clear: both;
    }
    article, p {
      width: 548px;
      z-index: 6;

    }
  }

/*


*/